<!DOCTYPE html>
<html>
  <head>
    <title>DevcampPortfolio | <%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container container-fluid">
      <%= nav_authentication_helper %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
      <%= render 'shared/navbar', location: "top" %>
      <%= yield %>
      <%= source_helper("application") %>
    </div>
  </body>
</html>
